.select-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;

  &__label {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-main);
  }

  &__input {
    padding: 12px;
    border: 1px solid var(--border);
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    color: var(--text-main);
    background-color: transparent;
    transition: all 0.2s;

    &:focus {
      border-color: #24a96b;
      box-shadow: 0 0 0 3px rgba(36, 169, 107, 0.1);
    }

    &--error {
      border-color: #ef4444;
    }
  }

  &__error-text {
    font-size: 12px;
    color: #ef4444;
  }
}
