@use "../../../utils/_config.scss";

.main-header {
    background-color: var(--bg-card);
    padding: 15px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border);
    position: sticky;
    top: 0;
    z-index: 1000;

    .header-left {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
            height: 40px;
            width: auto;
            cursor: pointer;
        }

        div {
            font-weight: 700;
            font-size: 1.2rem;
            color: var(--text-main);
        }
    }

    .header-right {
        display: flex;
        gap: 15px;


        select {
            background: var(--bg-card);
            color: var(--text-main);
            border: 1px solid var(--border);
            padding: 5px;
            border-radius: 4px;
            cursor: pointer;
        }
    }
}